<section class="container_aboutMe">
    
</section>
<section class="container_linguagens_projetos">
    <div class="container_linguagens">
        <h2>Tecnologias</h2>
        <div class="container_icons">

            @for (item of listTecnologias(); track $index) {
                <app-card-tecnologias
                    [icon]="item.icon"
                    [text]="item.text"
                >
                </app-card-tecnologias>
            }
        </div>
    </div>
    <div class="container_projetos">
        <h2>Projetos</h2>
        <div class="cards_container_projetos">
            @for (item of listProjects(); track $index) {
                <app-flip-card-project
                    [img]="item.img"
                    [name_project]="item.name_project"
                    [description]="item.description"
                >
                </app-flip-card-project>
            }
        </div>
    </div>
</section>

<section class="container_gostos">
    <h2>Coisas que fazem da Ariane a Ariane</h2>
    <section class="container_flip-card">
        @for (item of listCard(); track $index) {
            <app-flip-card
                [name_title_front]="item.name_title_front"
                [name_title_back]='item.name_title_back'
                [type]="item.type"
            ></app-flip-card>
        }
    </section>
</section>